.navbar-left,
.dashboard .dashboard-stats .dashboard-card,
.panel,
.dashboard .card,
.content-container .aside-nav{
    background-color: #222b45;
    box-shadow: 0 0.5rem 1rem 0 #1a1f33;
}
.navbar-left,
.flatpickr-calendar{
    border-color: #151a30;
}
.table,tsble,.dropdown-item {
    color: #fff;
}
.flatpickr-calendar{
     background-color: #8f9bb3 !important;
    -webkit-box-shadow: 1px 0 0 #8f9bb3, -1px 0 0 #8f9bb3, 0 1px 0 #8f9bb3, 0 -1px 0 #8f9bb3, 0 3px 13px rgb(0 0 0 / 8%) !important;
    box-shadow: 1px 0 0 #8f9bb3, -1px 0 0 #8f9bb3, 0 1px 0 #8f9bb3, 0 -1px 0 #8f9bb3, 0 3px 13px rgb(0 0 0 / 8%) !important;
    border-color: #151a30 !important;
}
.flatpickr-calendar.arrowTop:after {
    border-bottom-color: #8f9bb3 !important;
}
.navbar-left ul.menubar li.menu-item a span {
    color: #fff;
}
.navbar-left ul.menubar li.menu-item a span.admin-icons{
    color: #8f9bb3;
}
.navbar-left ul.menubar li.menu-item.active a span,
.navbar-left ul.menubar li.menu-item a:hover span{
    color: #fff;
}
.content-container,
.content-container .content .page-header,
.content-container .content-wrapper{
    background-color: #151a30;
}
.content-container .aside-nav >ul{
    background-color: #222b45;
}
.content-container .content .page-header .page-title h1,
.dashboard .dashboard-stats .dashboard-card .title,
.control-group{
    color: #fff;
}
.navbar-left::-webkit-scrollbar-thumb,
.aside-nav::-webkit-scrollbar-thumb {
    background: #222b45;
}
.navbar-top {
    background-color: #222b45;
}
.selecting-lang {
    background: #222b45;
}
.lang-dropdown .lang-text a {
    color: #fff !important;
}
.dropdown-menu{
    color: #fff;
    background-color: #222b45;
}
.navbar-top-right .system-actions ul li {
    color: #fff;
}
.navbar-top-right .system-actions ul li a, .navbar-top-right .system-actions ul li a:link {
    color: #fff;
}
.notifications.js-notifications {
    background-color: #222b45;
    box-shadow: 0 0.5rem 1rem 0 #1a1f33;
}
.notifications h3, .notifications .show-all {
    color: #739bb3;
}
.selecting-lang:hover {
    background-color: #324da0;
}
.selecting-lang:hover a {
    color: #fff !important;
}
.navbar-left ul.menubar li.menu-item > a:hover,
.navbar-left ul.menubar li.menu-item.active>a {
    background-color: #324da0;
}
.navbar-left ul.menubar li.menu-item.active a span.admin-icons,
.navbar-left ul.menubar li.menu-item a:hover span.admin-icons {
    color: #fff;
}
.control-group.date .flatpickr-input[readonly] {
    background-color: #8f9bb3 !important;
    cursor: pointer !important;
    -webkit-text-fill-color: rgba(0, 0, 0, 1);
    -webkit-opacity: 1;
    color: rgba(0, 0, 0, 1);
    border-color: #8f9bb3 !important;
}
.control-group input.control, .control-group select.control {
    background: #151a30;
    border: 1px solid #8f9bb3;
}
h1, h2,h3,h4,h5,h6,label,.control-group label,a,
.control-group select.control,
.content-container .aside-nav a ,
.dashboard .card .card-title{
    color: #fff;
}

select option {
    color: #fff;
    background-color: #8f9bb3;
}
select option:nth-child(odd) {
    color: #fff;
    background-color: #8f9bb3;
}
.content-container .aside-nav h5 a {
    display: block;
    color: #fff;
}
.content-container .aside-nav ul li ul.close-nav-aside,
.content-container .aside-nav ul li.active-submenu ul.close-nav-aside{
    background: #222b45;
}
.content-container .aside-nav>ul>li ,
.content-container .aside-nav >ul >li.active-submenu>a,
.content-container .aside-nav>ul>li>a:hover, .content-container .aside-nav>ul>li.active, .content-container .aside-nav>ul>li.active>a, .content-container .aside-nav ul li.active-submenu ul.close-nav-aside a:hover, .content-container .aside-nav ul li.active-submenu ul.close-nav-aside li.active a{
    background: #8f9bb3;
    color: #fff;
}
.content-container .aside-nav ul li.active-submenu ul.close-nav-aside li.active a, .content-container .aside-nav ul li.active-submenu ul.close-nav-aside li:hover a {
    background: #000;
}
.content-container .aside-nav ul li ul.close-nav-aside li a{
    color: #fff;
}
/*.table table thead tr th {*/
/*    border-right: 1px solid #8f9bb3;*/
/*    border-bottom: 1px solid #8f9bb3;*/
/*    color: #fff;*/
/*    background-image: -webkit-linear-gradient(#8f9bb3,#8f9bb3);*/
/*    background-image: -moz-linear-gradient(#8f9bb3,#8f9bb3);*/
/*    background-image: -ms-linear-gradient(#8f9bb3,#8f9bb3);*/
/*    background-image: -o-linear-gradient(#8f9bb3,#8f9bb3);*/
/*    background-image: linear-gradient(#8f9bb3,#8f9bb3);*/
/*}*/
.table table tr {
    background: #222b45;
}
.table table tbody tr:nth-child(even) {
    background-color: #151a30;
}
.table table tbody tr:nth-child(odd) {
    background-color: #222b45;
}
.table td, .table th {
    color: #fff;
}
/*.table table thead tr th {*/
/*    border-right: 1px solid #fff;*/
/*    border-bottom: 1px solid #fff;*/
/*    color: #fff;*/
/*    border-top: 1px solid #fff;*/
/*}*/
/*.table table thead tr th:first-child {*/
/*    border: 1px solid #fff;*/
/*}*/
.table-hover tbody tr:hover td,
.table table tbody tr:hover td{
    color: #151a30;
    border-color: #151a30;
}
.table table tbody tr:hover,
.table table tbody tr:nth-child(even):hover{
    background-color: #dee2e6;

}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #222b45;
    border-color: #151a30 #151a30 #222b45;
}
.select2-container--default .select2-selection--single {
    background-color: #151a30;
    border-color: #8f9bb3;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #fff;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #222b45;
    background: #222b45;
    color: #fff;
}
span.select2.select2-container, .select2-container--default .select2-results__option:nth-child(odd) ,
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option[aria-selected=true]{
    color: #fff;
    background-color: #8f9bb3;
}
.select2-dropdown {
    color: #fff;
    background-color: #151a30;
}
.select2-dropdown {
    background-color: #151a30;
}
 .select2-container--default .select2-results__option:nth-child(even) {
    color: #fff;
}
.jstree-anchor, .jstree-anchor:link, .jstree-anchor:visited, .jstree-anchor:hover, .jstree-anchor:active {
    color: #fff !important;
}
.jstree-default .jstree-anchor:hover {
    background: transparent;
}
input, select {
    border: 1px solid #222b45;
    color: #fff;
    background: #151a30;
}
::placeholder,
.input-group-text::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder,
.input-group-text:-ms-input-placeholder{ /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder,
.input-group-text::-ms-input-placeholder{ /* Microsoft Edge */
    color: #fff;
}
.accordion-style .card-body {
    background-color: #222b45;
}
.accordion-style .card-header {
    padding: 5px 2px;
    color: #fff;
    text-shadow: 1px 1px 2px #fdfdfd;
    background-image: linear-gradient(to right, #161b30, #151a30 );
    -webkit-background-image: linear-gradient(to right, #161b30, #151a30 );
    -moz-background-image: linear-gradient(to right, #161b30, #151a30 );
    -o-background-image: linear-gradient(to right, #161b30, #151a30 );
}
.form-control ,
.form-control:focus{
    color: #fff;
    background-color: #151a30;
    border: 1px solid #151a30;
}
.input-group-text {
    color: #fff;
    background-color: #8f9bb3;
    border: 1px solid #8f9bb3;
}
.accordion-style .card-header .btn.btn-link {
    color: #fff;
}
.table table tbody tr input, .table table tbody tr select {
    background: #151a30;
    color: #fff;
    border-color: #8f9bb3;
}
.search-filter .icon-wrapper .search-icon {
    color: #fff;
}
.trash-icon, .sortable-icon, .pencil-lg-icon {
    width: auto;
    height: auto;
    background: none;
    color: #fff;
}
.card {
    background-color: #222b45;
    border: 1px solid rgb(34 43 69);
}
td.actions a, td.actions button {
    color: #fff;
}
td a .text-secondary{
    color: #fff !important;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
a:active, a:focus, a:hover, a:link, a:visited {
    color: #fff ;
}
td:last-child a.as-link {
    color: #fff !important;
}
.table table tbody tr:hover span.icon,
.table table tbody tr:hover td.actions a,
.table table tbody tr:hover td a{
    color: #000;
}
.table table tbody tr:hover td a .text-secondary{
    color: #000 !important;
}
.control-group .control[disabled=disabled], input:disabled, .form-control:disabled, .select2-container--default.select2-container--disabled .select2-selection--single, .select2-container--default.select2-container--disabled  .select2-selection--single .select2-selection__rendered, .select2-container--focus.select2-container--disabled .selection .select2-selectio, input[type=text]:read-only, input[type=number]:read-only, input[type=date]:read-only, .form-control[readonly], .control[readonly], select[readonly] {
    color: #6c757d;
}
table.dataTable thead .sorting:after {
    opacity: 1;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    background: #8f9bb3;
    border-color: #e9ecef #e9ecef #e9ecef;
}
.swipe-tabs.nav-tabs a.nav-link.active {
    background: #8f9bb3;
}
.file-drop-wrapper .drop-container{
    background: #dee2e6 !important;
}
.control-group textarea.control {
    background: #222b45;
    border: 1px solid #8f9bb3;
    color: #fff;
}
.content-container .aside-nav ul li ul.close-nav-aside li.active a {
    background-color: #000;
}
.select-company-header h4 {
    border-color: #ccc;
    background: #222b45;
}
.select-company-header h4 a {
    color: #ccc;
}
p {
    color: #fff;
}
.tasks-container .task:hover p,
.tasks-container .task:hover span{
    color: #000 !important;
}
.content-container .aside-nav>ul>span.active>a {
    background: #000;
    color: #fff;
}
.content-container .aside-nav>ul>span.active>a,
.content-container .aside-nav>ul>span:hover a ,
.content-container .aside-nav ul li ul.close-nav-aside li a:hover, .content-container .aside-nav ul.has-submenu ul li a:hover, .content-container .aside-nav ul li.active-submenu ul.close-nav-aside a:hover, .content-container .aside-nav ul li.active-submenu ul.close-nav-aside li.active a{
    background: #000;
    color: #fff;
}
.content-container .aside-nav>ul>span:hover>a:before{
    opacity: 1;
}
.btn.with-transperant-back,
td .with-transperant-back .fa {
    color: #fff;
}
.table table tbody tr:hover td .with-transperant-back .fa{
    color: #000;
}
.browser-widget .content ul:not(.ui-menu) li span {
    color: #fff;
}
.select2-container--default .select2-selection--multiple{
    border-color: #8f9bb3;
    background-color: #151a30;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    color: #000;
    font-size: 11px;
}
.select2-container--open .select2-dropdown--below:after {
    border-bottom: 6px solid #8f9bb3;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #e9ecef;
    color: #000;
}
.report_table td a {
    color: #000;
}
html:lang(ar) .navbar-left {
    border-color: #222b45;
    background-color: #222b45;
}
.navbar-left .toggle-menu-btn, .navbar-left a.toggle-menu-btn:link {
    color: #fff;
}
.content-container .aside-nav.collapsed.collapsed h5 i,
.content-container .aside-nav.collapsed,
.content-container .aside-nav.collapsed h5, .content-container .aside-nav.collapsed h5 a{
    border-color: #222b45;
    background-color: #222b45;
    color: #fff;
}
.table table tbody tr:hover td:last-child a.as-link {
    color: #000 !important;
}
.mce-panel {
    border: 0 solid #8f9bb3 !important;
    background-color: #151a30 !important;
}
.mce-menubar .mce-menubtn button,
.mce-menubar .mce-menubtn button span,
.mce-menu-item .mce-ico,
.mce-menu-item .mce-text,
.mce-path-item,
.mce-wordcount,
.mce-container *{
    color: #fff !important;
}
.mce-menubar .mce-caret {
    border-top-color: #fff !important;
}
.mce-menubar .mce-menubtn:hover,
.mce-menubar .mce-menubtn.mce-active,
.mce-menubar .mce-menubtn:focus,
.mce-btn{
    border-color: #8f9bb3 !important;
    background: #8f9bb3 !important;
}
.mce-menu-item .mce-caret {
    border-left: 4px solid #fff !important;
}
.mce-menu-item:hover,
.mce-menu-item.mce-selected,
.mce-menu-item:focus ,
.mce-menu-item-normal.mce-active{
    background-color: #324da0 !important;
}
.mce-menu-item.mce-disabled .mce-text,
.mce-menu-item.mce-disabled .mce-ico,
.mce-menu-shortcut{
    color: #ddd !important;
}
.mce-btn {
    background-color: #8f9bb3 !important;
}
.mce-container body {
    color: #fff !important;
    background: #151a30 !important;
}
.jstree-default .jstree-clicked {
    background: #8f9bb3 !important;
}
#list span.file-title {
    color: #000;
}
.lang-dropdown {
    background-color: rgb(34, 43, 69);
}
.selectedCompany,.selectedCompany a {
    color: #fff !important;
}
.browser-widget .toolbar {
    background-color: #222b45 !important;
}
@media (max-width: 1024px){
    .table table tbody td:before {
        color: #fff;
    }
    .table table tbody tr:hover td:before {
        color: #000;
    }
}